!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Airbnb Tips

    %meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    %meta(name="keyword" content="airbnb, Muji, tips")
    %meta(name="description" content="Enrich your life with airbnb:D")
    %meta(name="author" content="airbnb tips")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "layouts/headder"

    #page-content.main-content
      = yield

    #page-footer.main-footer
      = render "layouts/footer"
